.titleWrapper {
    display: flex;
    align-items: baseline;
}

.title {
    font-size: 16px;
    margin-left: 5px;
}

.margin {
    margin-top: 20px;
}

.titleWorks {
    margin-top: 20px;
}

.worksWrapper {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.li {
    flex-basis: 45%;
    margin: 10px 20px;
    border: 1px solid #b3b3b3;
    border-radius: 1px;
}

.cardTitle {
    display: flex;
    justify-content: space-between;
}

.margintLeft10 {
    margin-left: 10px;
}