.resultsWrapper {
    display: flex;
    flex-direction: column;
}

.questionWpapper {
    display: flex;
    flex-direction: column;
}

:global(.ant-form-item) {
    display: flex;
    flex-direction: column;
}

:global(.ant-form-item-label) {
    text-align: left;
}

.btnStop {
    display: flex;
    justify-content: center;
}

.formWrapper {
    font-size: 16px;
}

:global(.ant-checkbox-wrapper + .ant-checkbox-wrapper) {
    margin-left: 0 !important;
}